/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

p {
  color: yellow;
}

button {
  padding: 15px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: forestgreen;
}
#button1:active, #button1.lit {
  background: darkgreen;
}

#button2 {
  background: blue;
}
#button2:active, #button2.lit {
  background: darkblue;
}

#button3 {
  background: red;
}
#button3:active, #button3.lit {
  background: darkred;
}

#button4 {
  background: yellow;
}
#button4:active, #button4.lit {
  background: gold;
}

#button5 {
  background: lightsalmon;
}
#button5:active, #button5.lit {
  background: darksalmon;
}

#button6 {
  background: lightgray;
}
#button6:active, #button6.lit {
  background: darkgray;
}
